@font-face {
  font-family: Rounded_Elegance;
  src: url(Rounded_Elegance.tff);
}

body {
	background-color: rgb(201, 152, 148);
}

h1 {
  font-face: Rounded_Elegance;
  text-align: center;
}

